{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('styles/login/login.css') }}"> #}
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {{ form_start(loginForm) }}
        {{ form_row(loginForm._username) }} <!-- Utilisation de _username pour l'email -->
        {{ form_row(loginForm._password) }} <!-- Utilisation de _password pour le mot de passe -->
        <button class="btn">Se connecter</button>
    {{ form_end(loginForm) }}

    {# Affichage des erreurs de connexion (mauvais identifiants) #}
    {% if app.session.flashbag().has('error') %}
        <div class="alert alert-danger">
            {{ app.session.flashbag().get('error')[0] }}
        </div>
    {% endif %}
{% endblock %}
