{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1>Connexion</h1>

{{ form_start(loginForm) }}
    {{ form_row(loginForm.mail) }}
    {{ form_row(loginForm.plainPassword) }}
    <button class="btn">Se connecter</button>
{{ form_end(loginForm) }}

{# <p>Pas encore de compte ? <a href="{{ path('register') }}">Inscrivez-vous ici</a>.</p> #}
{% endblock %}
